/*Info*/

.info {
    display: flex;
    justify-content: center;
    margin-bottom: 9rem;
    .info_content {
        width: $width_center;
        .info_top {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 3rem 0 4rem;
            .info_title {
                @include font_title_md;
                margin-bottom: 1.25rem;
                .logo_text {
                    img {
                        height: 29px;
                    }
                }
            }
            .info_body {
                max-width: 97ch;
                text-align: center;
                color: $color_gray_800;
                margin-bottom: 1.8rem;
            }
            .info_ctas {
                display: flex;
                align-items: center;
                gap: 2rem;
            }
        }
        .info_bottom {
            .info_cards {
                display: flex;
                gap: 1.25rem;
                .card {
                    width: 100%;
                    padding: 2.5rem;
                    background-color: $color_gray_box;
                    border-radius: 1rem;
                    .card_header {
                        display: flex;
                        gap: 1rem;
                        margin-bottom: 1.25rem;
                        @include font_title_xs;
                        .card_header_icon {
                            width: 20px;
                            img {
                                object-fit: contain;
                                object-position: center;
                                width: 100%;
                                height: 100%;
                            }
                        }
                        .card_header_label {
                        }
                    }
                    .card_text {
                        color: $color_gray_800;
                    }
                }
            }
        }
    }
}
