/*Pros*/

.pros {
    display: flex;
    justify-content: center;
    margin-bottom: 9rem;
    .pros_content {
        width: $width_center;
        .pro {
            display: flex;
            align-items: center;
            gap: 3.2rem;
            margin-bottom: 6rem;
            &:nth-child(2n) {
                flex-direction: row-reverse;
            }
            .pro_img {
                max-width: 615px;
                img {
                    object-fit: contain;
                    object-position: center;
                    width: 100%;
                }
            }
            .pro_text {
                max-width: 73ch;
                .pro_title {
                    margin-bottom: 1.25rem;
                    @include font_title_sm;
                }
                .pro_body {
                    color: $color_gray_800;
                }
            }
        }
    }
}
