@import "lib/vars";
@import "lib/mixins";
@import "lib/reset";
@import "lib/fontface";
@import "lib/keyframes";
@import "lib/bootstrap-icons"; // https://icons.getbootstrap.com/

@import "partials/header";
@import "partials/hero";
@import "partials/info";
@import "partials/pros";
@import "partials/database";
@import "partials/spreadsheet";
@import "partials/opinions";
@import "partials/libraries";
@import "partials/ending";
@import "partials/footer";
@import "partials/ctas";

* {
    //border: 1px solid pink;
}

:root {
    --font-base: $font_size_base;
    --font-leading-base: $line_height_base;
    --base-color: $body_color;
    --system-font-mono: ui-monospace, "SF Mono", "SFMono-Regular",
        "DejaVu Sans Mono", "Menlo", "Consolas", monospace;
}

html,
body {
    font-family: "Source Sans Pro", sans-serif;
    font-size: var(--font-base);
    line-height: var(--font-leading-base);
    min-height: 100vh;
    color: white;
    @include font_body_md;
    background-color: #171a21;
    background-image: url(/assets/img/fondo_luz.png);
    background-size: 870px;
    background-repeat: no-repeat;
    background-position: 65% 0;
}

.icon:empty {
    display: none;
}
