/*Layout*/

.layout {
    display: grid;
    grid-template-columns: 260px 300px 1fr 1fr;
    grid-template-rows: auto auto 1fr;
    height: 100vh;
    @media screen and (max-width: 426px) {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto auto;
    }
    .menu {
        grid-row: 1 / -1;
        grid-column: 1 / span 1;
        @media screen and (max-width: 426px) {
            grid-row: 2 / 4;
            grid-column: 1 / span 1;
        }
    }
    .header {
        grid-row: 1 / span 1;
        grid-column: 2 / -1;
        @media screen and (max-width: 426px) {
            grid-row: 1 / span 1;
            grid-column: 1 / 2;
        }
    }
    .profile {
        grid-row: 2 / -1;
        grid-column: 2 / span 1;
        @media screen and (max-width: 426px) {
            grid-row: 2 / span 1;
            grid-column: 1 / 2;
        }
    }
    .classes {
        grid-row: 2 / span 1;
        grid-column: 3 / -1;
        @media screen and (max-width: 426px) {
            grid-row: 3 / span 1;
            grid-column: 1 / 2;
        }
    }
    .learning {
        grid-row: 3 / span 1;
        grid-column: 3 / -2;
        @media screen and (max-width: 426px) {
            grid-row: 4 / span 1;
            grid-column: 1 / 2;
        }
    }
    .payments {
        grid-row: 3 / span 1;
        grid-column: -2 / -1;
        @media screen and (max-width: 426px) {
            grid-row: 5 / span 1;
            grid-column: 1 / 2;
        }
    }
}
